body {
  /* background-image: url(../assets/background.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#content {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  height: 50vw;
}

.card {
  border: 1px black solid;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  padding: 2%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 10px 15px #242424;
}
#highlight {
  height: 40vw;
  padding: 2%;
  display: flex;
  background-color: #242424;
  color: white;
}

.highlight__title {
}

.highlight__description {
}

.highlight__img {
  height: 100%;
  width: 100%;
}
